*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem == 10px
  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  background-image: url("../../grayWall.jpg");
  background-size: cover;

  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0rem;
  }
}
